section#form{

  height: 100vh;
  .container{
    padding-top: 0vh!important;
  }

  .titre{
    text-align: center;
    font-family: Open-Sans-bold;
    color: #005BB0;
    font-size: 45px;
    margin-bottom: 5vh;
  }

  .margin20{
    margin-bottom: 20px;
  }

input[type=checkbox] {
    transform: scale(1.0);
    zoom: 4.5;
    border:2px solid white;
    box-shadow:0 0 0 0.5px #005bb072;
    appearance:none;
    width:12px;
    height:12px;
    background-color:#fff;
    transition:all ease-in 0.2s;
}

input[type=checkbox]:checked {
  background-color: #005BB0;
}

input[type=radio] {
  transform: scale(1.0);
  margin-left: 24px!important;
  margin-right: 2px;
  zoom: 4.5;
  border:2px solid white;
  box-shadow:0 0 0 0.5px #005bb072;
  appearance:none;
  border-radius:50%;
  width:12px;
  height:12px;
  background-color:#fff;
  transition:all ease-in 0.2s;
}
input[type=radio]:checked {
  background-color: #005BB0;
}


.table_label{
  margin-top: 15px;
  text-align: left!important;
  padding-bottom: 10px!important;
}
.table_input{
  padding-left: 100px!important;
  padding-bottom: 10px!important;
}

.table_input_radio{
  padding-bottom: 10px!important;
}
table .table_label {
  width: 240px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

input[type=text] {
  border: 1px solid #005bb0b4;
  color:#1E5BC6;
  font-size: 32px;
  height: 40px;
  width: 725px;
  padding: 10px;
  font-family: Open-Sans-regular;
}

label{
  color:#005BB0 ;
  font-family: Open-Sans-regular;
  font-size: 32px;
}
p,span{
  color:#005BB0 ;
  font-family: Open-Sans-regular;
}





}
