* {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: Open-Sans-regular;
  src: url(../font/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-bold;
  src: url(../font/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Open-Sans-medium;
  src: url(../font/OpenSans/OpenSans-Medium.ttf);
}

@font-face {
  font-family: Open-Sans-light;
  src: url(../font/OpenSans/OpenSans-Light.ttf);
}


.flex-grow{
  flex-grow: 1;
}
.container {
  padding-top: 5vh;
  height: 60vh;
}
body {
  font-family: Open-Sans;
  font-weight: bold;
  font-size: 22pt;
  display:flex;
  flex-direction:column;
}
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction:column;
}

.center{
  justify-content: center;
  text-align: center;
}

.padding5{
  padding: 5vh;
}

.padding10{
  padding: 10vh;
}
.mgleft35{
  margin-left: 35vh;
}

.won{
  position: absolute;
  display: none;
  top: 50vh;
  right: 80vh;
  background-color: rgba(0, 255, 0, 0.616);
  border-radius: 3rem;
}
.display_reward{
  display: flex!important;
}

.loose{
  position: absolute;
  display: none;
  top: 50vh;
  right: 80vh;
  background-color: rgba(255, 0, 0, 0.616);
  border-radius: 3rem;
}

.count-down{
  color: #1E5BC6;
  font-family: Open-Sans-bold;
  font-size: 80pt!important;
}

.submit_btn{
  padding: 1rem;
  margin: 1rem;
  font-family: Open-Sans-light;
  font-size: 40px;
  color: white;
  background: #005BB0;
  width: 350px;
  border: #005BB0;
}

.question-game{
  text-align: center;
  font-family: Open-Sans-bold;
  color: #005BB0;
  font-size: 45pt;
}

.buzzer_red{
  background-color: red;
  text-align: center;
  font-family: Open-Sans-bold;
  border-radius: 50%;
  width: 800px;
  min-height: 800px;
  font-size:45px;
  padding: 10px;
  margin: 2rem; 
  color: white;
  border: none;
}


.buzzer_yellow{
  background-color: #FFCB4F;
  text-align: center;
  font-family: Open-Sans-bold;
  border-radius: 50%;
  width: 800px;
  min-height: 800px;
  font-size:45px;
  padding: 10px;
  font-size:45px;
  padding: 10px;
  margin: 2rem; 
  color: white;
  border: none;
  
}
.buzzer_green{
  background-color: green;
  text-align: center;
  font-family: Open-Sans-bold;
  border-radius: 50%;
  width: 800px;
  min-height: 800px;
  font-size:45px;
  padding: 10px;
  margin: 2rem; 
  color: white;
  border: none;
}
.buzzer_blue{
  background-color: #005BB0;
  text-align: center;
  font-family: Open-Sans-bold;
  border-radius: 50%;
  width: 800px;
  min-height: 800px;
  font-size:45px;
  padding: 10px;
  margin: 2rem; 
  color: white;
  border: none;
}
.question{
  border: 1px solid var(--unnamed-color-1e5bc6);
  border: 1px solid #005BB0;
  width: 500px;
  padding: 10px;
  margin: 3vh;
  border-radius: 20px;
}


/* Desktop */
@media all and (min-width: 960px) {
  

}

/* Tablet */
@media all and (min-width: 700px) {
  

}
