section#game{

  height: 100vh;
  $myheight: 20rem;
  .parent{
    height: $myheight;
    p{
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }
  .show_message1{
    animation: fadein1 5s ;
    animation-delay: 0s ;
    opacity: 0;
    height:0;
    overflow: hidden;
    transition: height;
    filter: blur(10px);
  
  }

  @keyframes fadein1 {
    1%{
      height: $myheight;
    }
    100%{
      filter: blur(10px);
      opacity: 0;
      height: 0px;
    }
    
    20%,90%{
      filter: blur(0px);
      opacity: 1;
      height:$myheight;
    }
   
  }


  p{
    color:#1E5BC6;
    font-size: 16pt;
  }

  .titre_Red{
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 100pt;
  }

  .titre{
    text-align: center;
    font-weight: bold;
    color: #1E5BC6;
    font-size: 70pt;
  }

  .question-game{
    text-align: center;
    font-weight: 200;
    color: #1E5BC6;
    font-size: 60pt;
  }

  

  .buzzer_red{
    text-align: center;
    line-height: 20rem;
    background-color: red;
    padding: 2rem; 
    font-size: 5rem;
    margin: 2rem; 
    width: 60rem;
    height: 20rem;
    color: white;
    border: none;
    border-radius: 2rem;
  }
  

  .buzzer_yellow{
    text-align: center;
    line-height: 20rem;
    background-color: #FFCB4F;
    padding: 2rem; 
    font-size: 5rem;
    margin: 2rem; 
    width: 60rem;
    height: 20rem;
    color: white;
    border: none;
    border-radius: 2rem;
  }
  .buzzer_green{
    text-align: center;
    line-height: 20rem;
    background-color: green;
    padding: 2rem; 
    font-size: 5rem;
    margin: 2rem; 
    width: 60rem;
    height: 20rem;
    color: white;
    border: none;
    border-radius: 2rem;
  }
  .buzzer_blue{
    text-align: center;
    line-height: 20rem;
    background-color: blue;
    padding: 2rem; 
    font-size: 5rem;
    margin: 2rem; 
    width: 60rem;
    height: 20rem;
    color: white;
    border: none;
    border-radius: 2rem;
  }

  .margin20{
    margin-bottom: 20px;
  }

  .submit_btn{
    margin-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh; 
    padding-top: 2vh; 
    padding-bottom: 2vh; 
    font-weight: bold;
    font-size: 22pt;
    color: white;
    background: #0970E6 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .question{
    border: 1px solid var(--unnamed-color-1e5bc6);
    border: 1px solid #1E5BC6;
    width: 500px;
    padding: 10px;
    margin: 3vh;
    border-radius: 20px;
  }


}
