section#game{

  height: 100vh;
  $myheight: 50rem;
  .parent{
    height: $myheight;
    p{
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  .img_gamer{
    border-radius: 50%;
    margin-bottom: 1vh;
  }
  .game_no_gamer_title{
    text-align: center;
    font-family: Open-Sans-bold;
    color: #005BB0;
    font-size: 100px;
  }
  .game_no_gamer_subtitle{
    text-align: center;
    font-family: Open-Sans-regular;
    color: #005BB0;
    font-size: 80px;
  }
  .show_message1{
    animation: fadein1 5s ;
    animation-delay: 0s ;
    opacity: 0;
    height:0;
    overflow: hidden;
    transition: height;
    filter: blur(10px);
  
  }

  @keyframes fadein1 {
    1%{
      height: $myheight;
    }
    100%{
      filter: blur(10px);
      opacity: 0;
      height: 0px;
    }
    
    20%,90%{
      filter: blur(0px);
      opacity: 1;
      height:$myheight;
    }
   
  }

}
