section#home{

  height: 100vh;
  p{
    color:#1E5BC6;
  }

  .submit_btn{
    padding: 2rem;
    margin: 2rem;
    font-weight: bold;
    font-size: 18pt;
    color: white;
    background: #0970E6 0% 0% no-repeat padding-box;
    width: 350px;
    border: #0970E6;
  }


}
