<template>
  <require from="./reglement.scss"></require>
  <require from="../../components/header/header"></require>
  <section id="reglement" class="column"> 
    <!--header></header>
    <div class="column">
      <div class="">
        <div>
          <p class="titre" style="margin-bottom: 5vh;" t="title_reglement"></p>
          <span style="color:#EE2B30!important;">*</span>
        </div>
        <p style="margin-left:30vh;margin-right:20vh;margin-bottom: 10px;font-weight: 200; font-size: 16pt;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </div>
      <div class="row center">
        <button  class="submit_btn" click.delegate="router.navigateToRoute('form')"t="ok" ></button>
      </div>
    </div>
    </div>
  </section-->
  <ux-dialog>
    <ux-dialog-header>
      <div class="row" style="justify-content:flex-end;" click.trigger="dialogController.cancel()">
        <img src="../../assets/img/close-icon.png">
      </div>
       
    </ux-dialog-header>
    <ux-dialog-body>
      <div>
        <p class="titre" style="margin-bottom: 5vh;" t="title_reglement"></p>
        <p t="article1"></p>
        <p t="r_1"></p>
        <p t="r_2"></p>
        <p t="r_3"></p>
        <p t="article2"></p>
        <p t="r_21"></p>
        <p t="r_22"></p>
        <p t="r_23"></p>
        <p t="r_24"></p>
        <p t="article3"></p>
        <p t="r_31"></p>
        <p t="r_32"></p>
        <p t="r_33"></p>
        <p t="r_34"></p>
        <p t="article4"></p>
        <p t="r_41"></p>
        <p t="article5"></p>
        <p t="r_51"></p>
        <p t="r_52"></p>
        <p t="r_53"></p>
        <p t="r_54"></p>
        <p t="r_55"></p>
        <p t="r_56"></p>
        <p t="r_57"></p>
        <p t="article6"></p>
        <p t="r_61"></p>
        <p t="r_62"></p>
        <p t="r_63"></p>
        <p t="r_64"></p>
        <p t="r_65"></p>
        <p t="r_66"></p>
        <p t="r_67"></p>
        <p t="r_68"></p>
        <p t="article7"></p>
        <p t="r_71"></p>
        <p t="article8"></p>
        <p t="r_81"></p>
        
      </div>
      <div class="row center" style="margin-bottom:5vh; margin-top:2vh">
        <button  class="submit_btn" click.trigger="dialogController.cancel()" t="title_reglemen_button" ></button>
      </div>
    </ux-dialog-body>
  </ux-dialog>


</section>
</template>
