<template>
  <require from="./ranking.scss"></require>
  <require from="../../components/header/header"></require>
  <section id="ranking" class="column"> 
    <div class="center">
      <img src="../../assets/img/CarrefourLinks-White-V.png" width="370px">
    </div>
   
    <div class="column">
      <div class="container" >
        <div class="center" style="margin-bottom: 5vh">
          <div class="center">
            <p class="thanks_title">
              <span t="ranking_1"></span><br>
              <span t="ranking_2"></span>
            </p>
            <p t="ranking_3"></p>
            <br>
            <span class="thanks_title" t="ranking_4"></span> 
            <div class="center" width="80%">
            <table style="margin-left: auto;margin-right: auto;" class="subtitle">
              <tr repeat.for="gamer of listOfGamers">
                <td>${$index+1}.</td>
                <td style="text-align: left!important;"> ${gamer.prenom} ${gamer.nom.charAt(0)}.</td>
                <td style="padding-left: 150px!important;"> ${gamer.response} <span t="thanks_score"></span></td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      
      </div>
    </div>
  </section>
</template>
