section#ranking{

  height: 100vh;
  background-image: url(../../assets/img/Dinner\ in\ the\ sky.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 91, 176, 0.7);

}

.thanks_title{
  text-align: center;
  font-family: Open-Sans-bold;
  color: white;
  font-size: 40px;
}

p{
  text-align: center;
  font-family: Open-Sans-regular;
  color: white;
  font-size: 30px;
}

table td{
  font-family: Open-Sans-regular;
  color: white;
  font-size: 20px;
}
