<template>
  <require from="./game3.scss"></require>
  <require from="../../components/header/header"></require>
  <section id="game3" class="column"> 
    <header></header>
    <div class="column" style="margin-right:5vh;margin-left:5vh;">

      <div class="container" show.bind="currentGamer">
        <div class="row" style="justify-content: flex-end!important;">
          <img src="../../assets/img/clock.png" style="margin-left: 20px;" width="128px">
          <p class="count-down">00:${counter.sec.toString().padStart(2, '0')}</p>
        </div>
          <div class="center" style="margin-bottom: 5vh;">
            <!--p class="titre" style="margin-bottom: 2vh;" t="title_game_buzz"></p-->
            <p class="question-game">${currentGamer.question4Obj.description}</p>
            
          </div>
          <div if.bind="!game_done">
            <div class="center row" style="margin-top:5vh;">
              <p class="buzzer_blue">${currentGamer.question4Obj.answer1}</p>
              <p class="buzzer_red">${currentGamer.question4Obj.answer2}</p>
              <p class="buzzer_yellow">${currentGamer.question4Obj.answer3}</p>
              <p class="buzzer_green">${currentGamer.question4Obj.answer4}</p>
            </div>
         
          </div>
          <div class="center">
            <img class="won"  ref="reward_win" src="../../assets/img/win.png">
          </div>
          <div class="center">
            <img class="loose"  ref="reward_loose" src="../../assets/img/loose.png">
            <p class="question-game" style="color: green;font-size:7rem!important;">${goodAnswer}</p>
          </div>

      </div>
    </div>
    </div>
  </section>
</template>
