<template>
  <require from="./thanks_ipad.scss"></require>
  <require from="../../components/header/header"></require>
  <section id="thanks_ipad" class="column"> 
    <header></header>
    <div class="column" style="margin-right:10vh;margin-left:10vh;">
      <div class="container" >
        <div class="center" style="margin-bottom: 5vh; margin-top: 15vh;">
          <p class="thanks-title"t="thanks_ipad"></p>
          <p class="thanks_description"t="thanks_description"></p>
        </div>
        <!--div class="center">
          <p class="thanks"> La suite sur le grand écran</p>
        </div-->
        <!--div class="row center">
          <button  class="submit_btn" click.delegate="backHome()" >retour</button>
        </div-->
      
      </div>
    </div>
    </div>
  </section>
</template>
