section#thanks_ipad{

  height: 100vh;
  .thanks-title{
    margin-top: 30vh;
    text-align: center;
    font-family: Open-Sans-bold;
    color: #005BB0;
    font-size: 45px;
  }

  .thanks_description{
    text-align: center;
    font-family: Open-Sans-bold;
    color: #005BB0;
    font-size: 45px;
  }


}
