<template>
  <require from="./thanks.scss"></require>
  <require from="../../components/header/header"></require>
  <section id="thanks" class="column"> 
    <header></header>
    <div class="column" style="margin-right:20vh;margin-left:20vh;">
      <div class="container" >
        <div class="center" style="margin-bottom: 5vh; margin-top: 20vh;">
          <div class="center">
            <span class="thanks_title" t="thanks_score_votre"></span> <span class="thanks_title"> ${final_score} </span><span class="thanks_title" t="thanks_score"></span>
            <p style="margin-top: 5vh;" class="thanks_title" t="game_thanks_title"></p>
            <p  t="play_again"></p>
            <p style="margin-top: 20vh;" t="game_thanks"></p>
          </div>
        </div>
      
      </div>
    </div>
    </div>
  </section>
</template>
