section#thanks{

  height: 100vh;



  .thanks_title{
    text-align: center;
    font-family: Open-Sans-bold;
    color: #005BB0;
    font-size: 91px;
  }

  p{
    text-align: center;
    font-family: Open-Sans-medium;
    color: #005BB0;
    font-size: 65px;
  }

 
  


}
